/* practical stuff */

  /* MOBILE*/
   
@media(max-width:600px){

    body {
    margin:8px;
    }

    .hero-image {
    height:300px;
    }

    h1 {
    font-size:38px;
    }

    p {
    font-size:16px;
    }

    .table-container {
    width:100%;
    overflow-x:auto;
    }

    #racing-timetable {
     min-width:650px;
    }

    #racing-timetable th,
    #racing-timetable td {
    padding:6px;
    font-size:14px;
    }

    #racing-timetable input[type="text"] {
    width:65px;
    }

    #racing-timetable td:nth-child(2) input {
    width:110px;
    }
    .position,.position-cell {
    width:30px;
    }

    #add-row,#remove-row,#save,#add-column,#remove-column {
    width:100%;
    margin-top:15px;
    transform:none;
}

}

/*TABLET */

@media(max-width:900px){

    body {
    margin:15px;
    }

    .hero-image {
    height:400px;
    }

#racing-timetable th, #racing-timetable td {
    padding:7px 12px;
    }

    button {
    padding:10px 15px;
    }
}


html, body {
    width: 100%;
    min-height: 100%;
    background-color: #212529;
    overflow-x: hidden;
}

body {
    font-family: Roboto, sans-serif;
    margin: 20px;
    color: white;
}


/*FONTS */
   
@font-face {
    font-family: "AZNUnified-Oblique";
    src: url("/assets/fonts/AZNUnified-Oblique-Trial.otf");
}


/* HERO*/


.hero-image {
    background-image:
    linear-gradient(
        rgba(0,0,0,.5),
        rgba(0,0,0,.5)
    ),
    url("/assets/images/assettocorsarally_4703373b.jpg");

    height: 500px;
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 10px;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 90%;
}


h1 {
    font-family: "AZNUnified-Oblique";
    font-size: clamp(35px, 6vw, 60px);
    color:white;
}

p {
    font-size: clamp(16px, 3vw, 20px);
    color:#fff300;
}


/* Table */


.table-container {
    width:100%;
    overflow-x:auto;
    border-radius:10px;
}


#racing-timetable {

    width:100%;
    border-collapse:collapse;
    table-layout:auto;
    font-family:"AZNUnified-Oblique";

}


#racing-timetable th,
#racing-timetable td {

    padding:8px 15px;
    white-space:nowrap;
    text-align:left;

}


#racing-timetable td {
    color:white;
}


#racing-timetable tr:nth-child(even) {
    background:#9b9fa2;
}


thead {
    background:#9b9fa2;
}



/* inputs */

#racing-timetable input {

    box-sizing:border-box;
    height:28px;
    padding:3px 5px;
    font-family:Roboto,sans-serif;

}


#racing-timetable input[type="text"],
input[type="number"] {

    width:75px;
    background:#212529;
    color:white;
    border:1px solid #555;

}


/* driver */

#racing-timetable th:nth-child(2),
#racing-timetable td:nth-child(2) {

    width:120px;

}


#racing-timetable td:nth-child(2) input {

    width:120px;

}



/* position */

.position,.position-cell {

    width:35px;
    max-width:35px;
    padding:0;
    text-align:center;

}



/* hide number arrows */

input[type="number"] {

    appearance:textfield;
    -moz-appearance:textfield;

}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {

    -webkit-appearance:none;
    margin:0;

}



/*BUTTONS */

#add-row,#remove-row,#save,#add-column,#remove-column {
    display:inline-block;
    font-size:15px;
    font-family:"AZNUnified-Oblique";
    color:white;
    background:linear-gradient( #f1570e,#d53628);
    border:none;
    cursor:pointer;
    padding:11px 30px;
    margin-top:30px;
    margin-left:15px;
    box-shadow:6px 6px 0 black;
    transform:skewX(-15deg);
    transition:1s;

}

#add-row:hover,#remove-row:hover,#save:hover,#add-column:hover,#remove-column:focus{
    outline:none;
}

#add-row:hover,#remove-row:hover,#save:hover,#add-column:hover,#remove-column:hover {
box-shadow:10px 10px 10px #0573b1;
transition: 0.5s;
padding-left:15px;


}









